:root {
  font-size: 20px;
  font-family: sans-serif;
  --main-color: #008000;
  --bg-color: hsl(120, 50%, 93%);
  --dot-size: 3px;
}

body {
  height: 100vh;
  margin: 0;

  background-color: var(--bg-color);
  /* opacity: 0.8; */
  background-image: radial-gradient(
      var(--main-color) var(--dot-size),
      transparent var(--dot-size)
    ),
    radial-gradient(
      var(--main-color) var(--dot-size),
      var(--bg-color) var(--dot-size)
    );
  background-size: calc(var(--dot-size) * 20) calc(var(--dot-size) * 20);
  background-position: 0 0,
    calc(var(--dot-size) * 10) calc(var(--dot-size) * 10);
  /* transition:2s; */
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--bg-color);
  border-bottom: 1px solid var(--main-color);
}

footer {
  position: fixed;
  height: 2em;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
  border-top: 1px solid var(--main-color);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#wordoftheday {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  padding: 1em;
  background: rgba(245, 255, 245, 0.8);
}

#word {
  font-size: larger;
  text-decoration: green wavy underline;
  text-transform: uppercase;
}

.copyright {
  font-size: 15px;
}
